.MaterialBackgroundGrey100 {
	background-color: #f5f5f5;
}

.MaterialBackgroundGrey300 {
	background-color: #e0e0e0;
}

.MaterialBackgroundGrey800 {
	background-color: #424242;
}

.MaterialBackgroundTeal100 {
	background-color: #b2dfdb;
}

.MaterialBackgroundOrange100 {
	background-color: #ffe0b2;
}

.MaterialBackgroundOrange600 {
	background-color: #fb8c00;
}
